<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
</head>

<body>

  <% if(kindOfDay==="Saturday"||kindOfDay==="Sunday"||kindOfDay==="Friday"){ %>
    <h1 style="color:purple"> <%= kindOfDay %> Todo List</h1>
  <% }else{ %>
    <h1 style="color:blue"> <%= kindOfDay %> Todo List</h1>
  <% } %>
<ul>
<li>Buy Food</li>
<li>Cook Food</li>

</ul>

<form class="" action="/" method="post">
<input type="text" name="newItem" >
<button type="submit" name="button">Add</button>

</form>

</body>

</html>
